
body { font-family:'Poppins', sans-serif; }

h1 { 
  font-size: 48px;
}

h2 { 
  font-size: 32px;
}

h3 { 
  font-size: 24px;
}

h4 { 
  font-size: 20px;
  line-height: 2px;
}

.container {
  position:relative;
  text-align: center;
  color: white
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-box {
  padding: 16px;
}

li {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;fi
  margin-right: 10px;
}

nav ul li a {
  padding: 16px;
  color: #fff;
  text-decoration: none;
}


section {
  margin-bottom: 50px;
}


img {
  max-width: 100%;
}


form label,
form input,
form button {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
}

form button {
  background-color: #2c1fdb;
  color: #fff;
  border: none;
  padding: 0px 16px 0px;
  border-radius: 8px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
